html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.print-only {
  display: none;
}

@media print {
  .no-print,
  .navbar {
    display: none !important;
  }
  .print-only {
    display: block;
  }
  .leaflet-control-zoom,
  .leaflet-control-attribution {
    display: none;
  }
  .leaflet-container,
  tr {
    break-inside: avoid;
  }
}
